/* styles.css */

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 5px 0;
    text-align: center;
}

main {
    padding: 5px;
}

.search-container {
    text-align: center;
    margin-bottom: 5px;
}

.search-container input[type=text] {
    padding: 5px;
    width: 100px;
    margin-right: 5px;
}

.search-container button {
    padding: 5px 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

.recipe-list {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.recipe-details {
    margin-top: 5px;
}

/* Image Styling */
img {
    max-width: 100%;
    height: auto;
    display: block;
}

.recipe-card img {
    width: 100%;
    max-width: 300px; /* Adjust this value as needed */
    height: auto;
}

/* Responsive Design */
@media (max-width: 250px) {
    .search-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .search-container input[type=text] {
        width: 100%;
        margin-bottom: 5px;
    }
}
